h1{
    background-color: black;
    color: white;
    font-weight: bolder ;
    text-align: center;
    padding: 30px;
    font-size: xx-large;
}

.gridcontainer{
    display: grid;
    grid-template-columns: auto auto auto;
    width:auto;
    height: auto;
    gap: 20px 20px;
    padding-left:20px;
    padding-right: 25px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgpdlOCsGNIVfPiI8Cb_Y_AenzLyVqPhUg1j0nwH5dHQ&s");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.griditem{
    
    background-color: rgb(0, 0, 0);
    border: 10px inset white;
    height: 525px;
    width: 400px;
    
}
.mingrid{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
   
}

.i1{
    color:white;
    font-weight: bolder;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    padding-top:20px;
    padding-bottom: 10px;
}
.i3{
    border: 7px inset white;
    border-radius: 20px;
    background-color:white;
    color: rgb(0, 0, 0);
    text-align:center;
    width: 100px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height:max-content;
    margin-left: 50px;
    
}
.i3:hover{
    font-size:xx-large ;
    background-color: orangered;
    border-color: orangered;
}

.back{
    position: absolute;
    top: 50px;
    left:30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    background-color: #fff;
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 10%;
}
  
a:hover {
    background-color: #ABABAB;
    color: white; 
}